.input-field {
  height: 30px;
  width: 50%;
  margin-right: 0.5em;
  border-radius: 3px;
  border: 1px solid #aaa;
  outline: none;
  font-size: 0.9em;
  color: #333333;
  padding-left: 7px;
}

/* Chrome, Safari, Edge, Opera */
.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-field[type="number"] {
  -moz-appearance: textfield;
}
