<div class="main-container">
    <div class="header">
        {{ headerText }}
    </div>
    <div>
        <input-label [label]="amtToBeConvert"></input-label>
    </div>
    <div>
        <input-field (inputValue)="convertCurrency()"></input-field>
        <drop-down [inputDD]="inputDDText" (countryCode)="getCountryCode($event)" [ddValue]="inputCountryCode">
        </drop-down>
    </div>
    <div>
        <input-label [label]="convertedAmt"></input-label>
    </div>
    <div>
        <input-field [value]="convertedValue"></input-field>
        <drop-down [inputDD]="convertedInputText" (countryCode)="getCountryCode($event)"
            [ddValue]="convertedCountryCode">
        </drop-down>
    </div>
    <div class="disclaimer-link">
        <a [routerLink]="['/', 'disclaimer']">{{ disclaimerLinkText }}</a>
    </div>
</div>
<div class="table-container">
    <app-table></app-table>
</div>