<table class="table" cellSpacing="0">
    <thead>
        <tr class="row">
            <th colspan="5" class="tabel-head table-header">{{ tableHeader }}</th>
            <th class="table-head"></th>
        </tr>
        <tr class="row">
            <th class="table-head" *ngFor="let header of tableHeaderCells;">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" *ngFor="let item of tableDataArr; let i = index;">
            <td class="table-cell">{{ i + 1 }}</td>
            <td class="table-cell">{{ item.from || '' }}</td>
            <td class="table-cell">{{ item.to || '' }}</td>
            <td class="table-cell">{{ item.date || '' }}</td>
            <td class="table-cell">{{ item.time || '' }}</td>
            <td class="table-cell"></td>
        </tr>
    </tbody>
</table>